@{
ViewData["Title"] = "Ekibimiz";
}

<!-- Layout content -->
<div class="layout-content">

    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">

        <h4 class="font-weight-bold py-3 mb-4">
            Ekibimiz
        </h4>
        <!-- Set `.contacts-col-view` or '.contacts-row-view' to control view mode -->
        <div class="row contacts-col-view">
            <div class="contacts-col col-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="contact-content">
                            <img src="~/assets/img/avatars/9.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)"
                                        class="text-body">Berkan Şaşmaz</a></h5>
                                <div class="contact-content-user text-muted small mb-2">berkansasmaz</div>
                                <div class="small">
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span
                                            class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span
                                            class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span
                                            class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span
                                            class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span
                                            class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="contact-content">
                            <img src="~/assets/img/avatars/5.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)"
                                        class="text-body">Nelle Maxwell</a></h5>
                                <div class="contact-content-user text-muted small mb-2">nmaxwell</div>
                                <div class="small">
                                   
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span
                                            class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span
                                            class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span
                                            class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span
                                            class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span
                                            class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-6">

                <div class="card mb-2">
                    <div class="card-body">
                        <div class="contact-content">
                            <img src="~/assets/img/avatars/4.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)"
                                        class="text-body">Kenneth Frazier</a></h5>
                                <div class="contact-content-user text-muted small mb-2">kfrazier</div>
                                <div class="small">
                                   
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span
                                            class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span
                                            class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span
                                            class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span
                                            class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span
                                            class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts-col col-6">

                <div class="card mb-2">
                    <div class="card-body">
                        <div class="contact-content">
                            <img src="~/assets/img/avatars/6.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-body">Mae
                                        Gibson</a></h5>
                                <div class="contact-content-user text-muted small mb-2">mgibson</div>
                                <div class="small">
                                  
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span
                                            class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span
                                            class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span
                                            class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span
                                            class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span
                                            class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- / .row -->


  <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
        <!-- / Layout wrapper -->

        <!-- Core scripts -->
        <script src="~/assets/vendor/libs/popper/popper.js"></script>
        <script src="~/assets/vendor/js/bootstrap.js"></script>
        <script src="~/assets/vendor/js/sidenav.js"></script>

        <!-- Libs -->
        <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

        <!-- Demo -->
        <script src="~/assets/js/demo.js"></script>
        <script src="~/assets/js/pages_contacts.js"></script>